@import 'superhero';

.spacer {  margin-top: 40px; }
.products .thumbnail{ height: 300px;}
.inventories .thumbnail{ height: 250px;}
.inventories .alert h2{margin-top: 0px; margin-bottom: 0px; }
.thumbnail > a img {height: 200px;}
.price{font-weight: bold;}

.text-alert .lead{margin-bottom: 0px;}
.text-alert .lead span{font-weight: bold;}