.alert.alert-success.text-alert
  .lead.text-center
    Text
    %span "Quote: &lt;location&gt; &lt;product name&gt;"
    to
    %span +1 (580) 823-2966
    to find local suppliers
  .p.text-center e.g. "Quote: Bo Latrine"

- @products.each_slice(4) do |slice|
  .row.products
    - slice.each do |product|
      .col-sm-6.col-md-4.col-lg-3.list-item
        .thumbnail
          = link_to product do
            = image_tag product.image.url(:thumb), alt: product.name
          .caption
            %h3= link_to product.name, product

- if current_supplier
  link_to 'New Product', new_product_path
