.row
  - @products.each do |product|
    .col-sm-6.col-md-4.col-lg-2
      .thumbnail
        = link_to product do
          image_tag product.image.url(:thumb)
        .caption
          %h3= product.name
          %p lots of text
          = link_to "View", product , html_options: {class: "btn"}


- if current_supplier
  link_to 'New Product', new_product_path
